@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Noto+Sans+JP:wght@100..900&family=Poppins:wght@300;700&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: #F1558E;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E6DFE2;
}

li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  background: #F1558E;
  color: #fff;
  padding: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  transition: 0.3s linear;
}
.btn:hover {
  background-color: #333;
  color: #F1558E;
}

section {
  display: flex;
  position: relative;
  width: 100%;
  height: 92vh;
}

header {
  position: sticky;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 10px;
  background: #E6DFE2;
  z-index: 1000;
  transition: 0.6s;
  border-bottom: 0.2px solid #333;
  background-color: #333;
}
header .nav {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
}
header .nav .first {
  display: flex;
  align-items: center;
}
header .nav .first .logo {
  font-size: 1.6rem;
  font-family: "Jim Nightshade", cursive;
  color: #fff;
  padding-right: 3rem;
  transition: 0.7s;
}
header .nav .first .logo:hover {
  color: #F1558E;
}
header .nav .first ul {
  display: flex;
}
header .nav .first ul li {
  padding: 1.2rem 1.2rem;
}
header .nav .first ul li a {
  color: #fff;
  font-size: 1.3rem;
  transition: 0.8s;
}
header .nav .first ul li:hover a {
  color: #F1558E;
}
header .nav .first ul .drop {
  padding: 1.2rem 0.7rem;
  font-size: 1.3rem;
}
header .nav .first ul .drop a {
  color: #fff;
}
header .nav .first ul .drop a i {
  font-size: 0.6rem;
}
header .nav .first ul .drop a:hover {
  color: #F1558E;
}
header .nav .first ul .drop__down {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}
header .nav .first ul .drop__down a {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
header .nav .first ul .drop:hover .drop__down {
  display: block;
  background-color: #333;
}
header .nav .second .icons {
  display: flex;
}
header .nav .second .icons .icon {
  color: #fff;
  padding: 1rem;
  margin-left: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}
header .nav .second .icons .icon:hover {
  background-color: #F1558E;
  color: #A22657;
}
header .login-form {
  display: none;
  position: absolute;
  right: -13%;
  transform: translateX(-50%);
  width: 30rem;
  background: gray;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  text-align: center;
}
header .login-form h3 {
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
header .login-form .box {
  width: 100%;
  line-height: 1;
  background: white;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: #333;
  margin: 0.7rem 0;
  border-radius: 5rem;
}
header .login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
header .login-form .flex label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}
header .login-form .flex a {
  font-size: 1.5rem;
  color: #A22657;
  margin-left: auto;
}
header .login-form .flex a:hover {
  text-decoration: underline;
}
header .login-form .btn {
  width: 100%;
}
header .login-form p {
  font-size: 1.2rem;
  color: #333;
  list-style: 2;
  padding-top: 1.5rem;
}
header .login-form p a {
  color: #A22657;
}
header .login-form p a:hover {
  text-decoration: underline;
}
header .login-form.active {
  display: block;
}

#menu-btn {
  display: none;
}

.hero {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background: url(../images/home-bg.jpg);
}
.hero__container {
  transition: ease-in-out;
}
.hero__container-item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  transition: ease-in-out;
}
.hero__container-item .data {
  position: absolute;
  top: 30rem;
  left: 8rem;
  z-index: 100;
}
.hero__container-item .data h2 {
  color: #A22657;
  font-size: 4.3rem;
}
.hero__container-item .data a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #F1558E;
  background-color: #333;
  border-radius: 5rem;
  padding: 0.6rem;
  transition: 0.5s;
}
.hero__container-item .data a:hover {
  background-color: #A22657;
  color: #333;
  transform: scale(1.1);
}
.hero__container-item .image img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 80%;
}